<h1 class="center-header">ISSUES</h1>
<!--<p>List of GitHub tasks.</p>
<h2 class="center-header">Tasks:</h2>

<table>
    <thead>
        <tr>
            <th>Done</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="task-list">
        {{#if issues.length }}
        {{#each issues}}
        <tr>
            {{#if this.done }}
            <td>X</td>
            {{else}}
            <td>-</td>
            {{/if}}
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td>There are no tasks to display.</td>
        </tr>
        {{/if}}
    </tbody>
</table>-->
<div id="issue-list">
    {{#if issues.length }}
    {{#each issues}}
    <div class="issue" id="issueid_{{this.issueid}}">
        <div class="issue-header">
            {{#if this.done}}
                <form method="post" action="./{{this.issueid}}/reopen" >
                    <button type="submit">[x]</button>
                </form>
            {{else}}
                <form method="post" action="./{{this.issueid}}/close" >
                    <button type="submit">[ ]</button>
                </form>
            {{/if}}
            <h3>{{this.title}}</h3>
            <div class="user-info"><img src="{{this.userAvatar}}" class="avatar"><h4>{{this.userFullname}} ({{this.userUsername}})</h4></div>
        </div>
        <div class="issue-body"><p>{{this.description}}</p></div>
        <div class="issue-footer">
            <ul>
            <!--<li>
                <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/edit" role="button">Edit</a>
            </li>
            <li>
                <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/remove" role="button">Delete</a>
            </li>-->
            </ul>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No Issues yet.</p>
    {{/if}}
</div>

<template id="issue-template">
    <div class="issue-header">
        \{{#if this.done}}
            <form method="post" action="./\{{this.issueid}}/reopen" >
                <button type="submit">[x]</button>
            </form>
        \{{else}}
            <form method="post" action="./\{{this.issueid}}/close" >
                <button type="submit">[ ]</button>
            </form>
        \{{/if}}
        <h3>\{{this.title}}</h3>
        <div class="user-info"><img src="\{{this.userAvatar}}" class="avatar"><h4>\{{this.userFullname}} (\{{this.userUsername}})</h4></div>
    </div>
    <div class="issue-body"><p>\{{this.description}}</p></div>
    <div class="issue-footer">
        <ul>
        <!--<li>
            <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/edit" role="button">Edit</a>
        </li>
        <li>
            <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/remove" role="button">Delete</a>
        </li>-->
        </ul>
    </div>
</template>