<h1 class="center-header">
    GITHUB ISSUES
</h1>
<p>List of GitHub tasks.</p>
<h2 class="center-header">Tasks:</h2>

<!--<table>
    <thead>
        <tr>
            <th>Done</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="task-list">
        {{#if issues.length }}
        {{#each issues}}
        <tr>
            {{#if this.done }}
            <td>X</td>
            {{else}}
            <td>-</td>
            {{/if}}
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td>There are no tasks to display.</td>
        </tr>
        {{/if}}
    </tbody>
</table>-->
<div id="task-list">
    {{#if issues.length }}
    {{#each issues}}
    <div class="codesnippet">
        <div class="codesnippet-header"><h3>{{this.title}}</h3></div>
        <div class="codesnippet-body"><p>{{this.description}}</p></div>
        <div class="codesnippet-footer">
            <ul>
            <!--<li>
                <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/edit" role="button">Edit</a>
            </li>
            <li>
                <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/remove" role="button">Delete</a>
            </li>-->
            </ul>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No Issues yet.</p>
    {{/if}}
</div>

<template id="task-template">
    <!--\{{#if this.done }}
    <td>X</td>
    \{{else}}
    <td>-</td>
    \{{/if}}
    <td>\{{this.description}}</td>-->
    <div class="codesnippet-header"><h3>{{this.title}}</h3></div>
    <div class="codesnippet-body"><p>{{this.description}}</p></div>
    <div class="codesnippet-footer">
        <ul>
        <!--<li>
            <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/edit" role="button">Edit</a>
        </li>
        <li>
            <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/remove" role="button">Delete</a>
        </li>-->
        </ul>
    </div>
</template>