<h1 class="center-header">
    GITHUB ISSUES
</h1>
<p>List of GitHub tasks.</p>
<h2 class="center-header">Tasks:</h2>

<table>
    <thead>
        <tr>
            <th>Done</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="task-list">
        {{#if issues.length }}
        {{#each issues}}
        <tr>
            {{#if this.done }}
            <td>X</td>
            {{else}}
            <td>-</td>
            {{/if}}
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td>There are no tasks to display.</td>
        </tr>
        {{/if}}
    </tbody>
</table>

<template id="task-template">
    \{{#if this.done }}
    <td>X</td>
    \{{else}}
    <td>-</td>
    \{{/if}}
    <td>\{{this.description}}</td>
</template>